# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
fresh_venv/
venv/
ENV/

# Local development
*.sqlite
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
# Rough
Rough/

